.admin-container
  height inherit

.content-wrapper
  height: calc(100% - 64px)
.content
  height calc(100% - 24px)

.title-panel
  height 58px
  padding 0 24px
  line-height 58px
  overflow hidden
  .title
    font-size 1.3em
  .actions
    float right
    padding 5px 0

.news-form
  height 100%
  .form
    padding 0 24px 24px 24px

.admin-news
  .col-number
    width 1px
  .col-date
    width 100px
  .col-toggle
    width 100px
  .col-btn
    width 48px

.editor-wrapper
  height: calc(100% - 178px)
  margin-top 24px

.contacts-form
  padding 0 24px