.admin-container
  .content-wrapper
    padding-left 256px
  .content
    padding 12px

.main-layout
  padding-top 48px
  .main-tab-menu
    position fixed
    top 0
    transition top 0.2s ease-in-out
    width 100%
  .main-nav-up
    top -48px
