{
  "parser": "babel-eslint",
  "plugins": [
    "meteor",
    "react",
    "jsx-a11y"
  ],
  "extends": [
    "airbnb",
    "plugin:meteor/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "strict": 0,
    "meteor/eventmap-params": [
      2, { "templateInstanceParamName": "instance" }
    ],
    "no-underscore-dangle": [
      "error", { "allow": ["__", "_id"] }
    ],
    "no-use-before-define": [
      "error", { "functions": false, "classes": true }
    ],
    "import/no-unresolved": 0,
    "react/display-name": 0
  }
}