@import "/stylus/*"

// test-module
@import "{}/client/modules/core/components/core.import"
@import "{}/client/modules/test-module/components/test-module.import"
@import "{}/client/modules/admin/components/admin.import"
@import "{}/client/singles/editor/editor.import"
