.landing-page
  .landing-media
    height 100%
    background url('images/main-bg.jpg')
    background-size contain
    position absolute
    width 100%
    top 0
    z-index -1
    .background-darken
      height 100%
      background rgba(0, 0, 0, .7)